<%# <%= render "shared/header" %>
<header>
  <div class='header-title'>ProgramCreator</div>
</header>
<div class='main'>
  <div class= 'main-piece'>
    <div class= 'main-piece-box'>
      <div class= 'main-piece-title'>メイン曲</div>
      <div class= 'main-piece-form'>
        <ul class= 'main-piece-conditions'>
          <li class= 'main-piece-condition'>作曲家</li>
            <select class="main-piece-pulldown">
              <option>---</option>
              <option>ベートーヴェン</option>
              <option>ブラームス</option>
              <option>ドボルザーク</option>
            </select>
          <li class= 'main-piece-condition'>年代</li>
            <select class="main-piece-pulldown">
              <option>---</option>
              <option>古典</option>
              <option>ロマン派</option>
              <option>印象派</option>
            </select>
          <li class= 'main-piece-condition'>ジャンル</li>
            <select class="main-piece-pulldown">
              <option>---</option>
              <option>交響曲</option>
              <option>交響詩</option>
              <option>組曲</option>
            </select>
            <li class= 'main-piece-condition'>国</li>
            <select class="main-piece-pulldown">
              <option>---</option>
              <option>ドイツ</option>
              <option>オーストリア</option>
              <option>フランス</option>
            </select>
        </ul>
        <div class= 'main-piece-name'><div>曲名</div>
        <select class= 'main-piece-pulldown'>
          <option>---</option>
          <option>ベートーヴェン 交響曲1番</option>
          <option>ベートーヴェン 交響曲2番</option>
          <option>ベートーヴェン 交響曲3番</option>
        </select>
        </div>
      </div>
    </div>
  </div>
  <div class= 'search-piece'>
    <div class= 'search-piece-box'>
      <div class= 'search-piece-title'>条件</div>
      <div class= 'search-piece-form'>
        <ul class= 'search-piece-conditions'>
            <li class= 'search-piece-condition'>ピッコロ</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
            <li class= 'search-piece-condition'>フルート</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
            <li class= 'search-piece-condition'>クラリネット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>オーボエ</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>イングリッシュホルン</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>B♭クラリネット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>E♭クラリネット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>バスクラリネット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>ファゴット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>コントラファゴット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>ホルン</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>トランペット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>コルネット</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>トロンボーン</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>チューバ</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
              <li class= 'search-piece-condition'>打楽器</li>
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              人
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以上
              <select class="search-piece-pulldown">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              回以下
          </ul>
          <div class= 'search-button'>
            <div class= 'search-button-box'>
             <div class= 'search-button-text'>検索</div>
            </div>
          </div>
          <h1>曲の検索</h1>

<%= search_form_for @q, url: search_path, method: :get do |f| %>
  <!-- 曲名で検索 -->
  <%= f.label :title_cont, "曲名" %>
  <%= f.text_field :title_cont %>

  <!-- 作曲家名で検索 -->
  <%= f.label :composer_name_cont, "作曲家名" %>
  <%= f.text_field :composer_name_cont %>

  <!-- 作曲年で検索 -->
  <%= f.label :year_gteq, "作曲年（以上）" %>
  <%= f.number_field :year_gteq %>

  <%= f.label :year_lteq, "作曲年（以下）" %>
  <%= f.number_field :year_lteq %>

  <%= f.submit "検索" %>
<% end %>

<!-- 検索結果の表示 -->
<h2>検索結果</h2>
<% if @songs.present? %>
  <ul>
    <% @songs.each do |song| %>
      <li><%= song.title %> by <%= song.composer.name %> (作曲年: <%= song.year %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>該当する曲が見つかりませんでした。</p>
<% end %>
      </div>
    </div>
  </div>
</div>

<%# <%= render "shared/footer" %>