<div class="home-image" style="background-image: url('<%= asset_path("home.jpg") %>');">
  <%= render "shared/header"%>
  
  <div class='home-main'>
    <div class='catch-copy'>
      <div class='catch-copy1'>Amateur orchestra performances</div>
      <div class='catch-copy2'>hold endless possibilities.</div>
    </div>
  </div>
</div>

<div class='contents'>
  <div class='content'>
    <%= link_to pieces_path do %>
      <%= image_tag("score.jpg", class: "index-image") %>
      <div class="text-overlay">LIST</div>
    <% end %>
  </div>

  <div class='content'>
    <%= link_to search_pieces_path do %>
      <%= image_tag("violin.jpg", class: "search-image") %>
      <div class="text-overlay">SEARCH</div>
    <% end %>
  </div>
  <div class='content'>
    <%= link_to root_path do %>
    <%= image_tag("orchestra.jpg", class: "mypage-image") %>
    <div class="text-overlay">COMING SOON</div>
    <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
