<div class="search-page-image" style="background-image: url('<%= asset_path("violin.jpg") %>');">
  <div class='header'>
    <div class='title'><%= link_to 'ProgramCreator', root_path, class: "title" %></div>
    <div class="menu">
      <ul class="menu-lists">
        <li class="menu-list"><%= link_to 'INDEX', "pieces", class: "menu-list" %></li>
        <li class="menu-list"><%= link_to 'SEARCH', pieces_path, class: "menu-list" %></li>
        <li class="menu-list"><%= link_to 'MYPAGE', "#", class: "menu-list" %></li>
      </ul>
    </div>
  </div>
  <div class='main'>
    <h2 class='result-title'>検索結果</h2>
    
    <% if @pieces.present? %>
    <div class='result-box'>
      <table>
        <thead>
          <tr>
            <th>曲1</th>
            <th>曲2</th>
            <th>picc</th>
            <th>fl</th>
            <th>cl</th>
            <th>ob</th>
            <th>eh</th>
            <th>Bcl</th>
            <th>fg</th>
            <th>Cfg</th>
            <th>hr</th>
            <th>tp</th>
            <th>cnt</th>
            <th>tb</th>
            <th>tuba</th>
            <th>perc</th>
          </tr>
        </thead>
        <tbody>
          <% @pieces.each do |piece| %>
            <tr>
              <td><%= link_to Piece.find(piece.piece1_id).piece_name, piece_path(Piece.find(piece.piece1_id)), class: "piece-name-link" %></td>
              <td><%= link_to Piece.find(piece.piece2_id).piece_name, piece_path(Piece.find(piece.piece2_id)), class: "piece-name-link" %></td>
              <td><%= piece.total_picc_quantity %></td>
              <td><%= piece.total_fl_quantity %></td>
              <td><%= piece.total_cl_quantity %></td>
              <td><%= piece.total_ob_quantity %></td>
              <td><%= piece.total_eh_quantity %></td>
              <td><%= piece.total_bcl_quantity %></td>
              <td><%= piece.total_fg_quantity %></td>
              <td><%= piece.total_cfg_quantity %></td>
              <td><%= piece.total_hr_quantity %></td>
              <td><%= piece.total_tp_quantity %></td>
              <td><%= piece.total_cnt_quantity %></td>
              <td><%= piece.total_tb_quantity %></td>
              <td><%= piece.total_tuba_quantity %></td>
              <td><%= piece.total_perc_quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class='result-error-box'>
      <div class='result-error-message'>
        <p>該当する曲が見つかりませんでした。</p>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class= 'footer'>
  <div class= 'footer-title'><h1>©ProgramCreator</h1></div>
</div>
