<div class="search-page-image" style="background-image: url('<%= asset_path("score.jpg") %>');">
  <%= render "shared/header"%>

  <div class='show-main'>
    
    <div class='piece-contents'>
      <div class='piece-content'>
        <div class="piece-name"><%= @piece.piece_name %></div>
        <div class='composer-information'>
          <div class="composer-name"><%= @piece.composer.name %></div>
          <div class="country-name">（<%= @piece.country.name %>）</div>
        </div>
        <div class="duration">演奏時間：<%= @piece.duration %> 分</div>
        <div class="genre-name">ジャンル：<%= @piece.genre.name %></div>
        <div class="year-composed">作曲年：<%= @piece.year_composed %></div>
        

        <div class='piece-list-box'>
          <table class='piece-list'>
            <thead>
              <tr>
                <th>picc</th>
                <th>fl</th>
                <th>cl</th>
                <th>ob</th>
                <th>eh</th>
                <th>Bcl</th>
                <th>fg</th>
                <th>Cfg</th>
                <th>hr</th>
                <th>tp</th>
                <th>cnt</th>
                <th>tb</th>
                <th>tuba</th>
                <th>perc</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 1)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 2)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 3)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 4)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 5)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 6)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 7)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 8)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 9)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 10)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 11)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 12)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 13)&.quantity || 0 %></td>
                  <td><%= @piece.piece_instruments.find_by(instrument_id: 14)&.quantity || 0 %></td>
        
                </tr>
            </tbody>
          </table>
          
          <div class='remarks'>備考
            <div class='remarks-box'>
              <%= @piece.remarks %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class= 'footer'>
  <div class= 'footer-title'><h1>©ProgramCreator</h1></div>
</div>
